commands:
  01_tag_volumes:
    command: /home/ec2-user/tag-volumes.py

files:
  "/home/ec2-user/tag-volumes.py":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env python

      from __future__ import print_function
      import boto3
      import json
      import urllib2

      ec2_document = urllib2.urlopen('http://169.254.169.254/latest/dynamic/instance-identity/document').read()
      aws_region = json.loads(ec2_document)['region']
      instance_id = urllib2.urlopen('http://169.254.169.254/latest/meta-data/instance-id').read()

      print('region: ' + aws_region)
      print('instance_id: ' + instance_id)

      ec2_client = boto3.client('ec2', region_name=aws_region)

      ec_instances = ec2_client.describe_instances(InstanceIds=[instance_id])
      instance = ec_instances['Reservations'][0]['Instances'][0]
      volumes = instance['BlockDeviceMappings']
      tags = instance['Tags']

      tags_to_copy = []
      for tag in tags:
        if not tag['Key'].startswith('aws:'):
          tags_to_copy.append(tag)

      for volume in volumes:
        ec2_client.create_tags(Resources=[volume['Ebs']['VolumeId']], Tags=tags_to_copy)
