[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
troposphere = "*"
mypy = "*"
pytest = "*"
awacs = "*"
boto3 = "*"
pylint = "*"

[packages]

[requires]
python_version = "3.8"
