packages:
  yum:
    awslogs: []

commands:
  00_create_folders:
    command: /home/ec2-user/create_logs_folders.sh
  01_enable_awslogsd_service:
    command: systemctl enable awslogsd.service
  02_restart_awslogsd_service:
    command: systemctl restart awslogsd

files:
  "/home/ec2-user/create_logs_folders.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      echo "Creating Logs directory"
      mkdir /var/log/eb-bluegreen
      chmod 755 /var/log/eb-bluegreen
      chown webapp:webapp /var/log/eb-bluegreen

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/eb-bluegreen.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/eb-bluegreen/*

  "/etc/awslogs/awscli.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/awslogs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

  "/etc/awslogs/config/logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/log/messages]
      log_group_name = /aws/elasticbeanstalk/eb-bluegreen/backend/var/log/messages
      log_stream_name = {instance_id}
      file = /var/log/messages

      [/var/log/dmesg]
      log_group_name = /aws/elasticbeanstalk/eb-bluegreen/backend/var/log/dmesg
      log_stream_name = {instance_id}
      file = /var/log/dmesg

      [/var/log/eb-engine.log]
      log_group_name = /aws/elasticbeanstalk/eb-bluegreen/backend/var/log/eb-engine.log
      log_stream_name = {instance_id}
      file = /var/log/eb-engine.log

      [/var/log/eb-hooks.log]
      log_group_name = /aws/elasticbeanstalk/eb-bluegreen/backend/var/log/eb-hooks.log
      log_stream_name = {instance_id}
      file = /var/log/eb-hooks.log

      [/var/log/nginx/access.log]
      log_group_name = /aws/elasticbeanstalk/eb-bluegreen/backend/var/log/nginx/access.log
      log_stream_name = {instance_id}
      file = /var/log/nginx/access.log

      [/var/log/nginx/error.log]
      log_group_name = /aws/elasticbeanstalk/eb-bluegreen/backend/var/log/nginx/error.log
      log_stream_name = {instance_id}
      file = /var/log/nginx/error.log

      [/var/log/web.stdout.log]
      log_group_name = /aws/elasticbeanstalk/eb-bluegreen/backend/var/log/web.stdout.log
      log_stream_name = {instance_id}
      file = /var/log/web.stdout.log

      [/var/log/eb-bluegreen/spring.log]
      log_group_name = /aws/elasticbeanstalk/eb-bluegreen/backend/var/log/spring.log
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%d %H:%M:%S,%f
      multi_line_start_pattern = {datetime_format}
      file = /var/log/eb-bluegreen/spring.log
