container_commands:
  01_config_start_script:
    command: /home/ec2-user/config-startscript.sh

files:
  "/home/ec2-user/config-startscript.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config platformconfig -k AppStagingDir)
      chmod +x $EB_APP_STAGING_DIR/start_app.sh
